html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.board {
    display: flex;
    width: 100%;
    height: 100vw;
    max-width: 400px;
    max-height: 400px;
    padding: 0;
    margin: 0;

    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    background: saddlebrown;
    list-style-type: none;
}

.piece {
    box-sizing: border-box;
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-content: center;

    width: calc(100% / 4);
    height: calc(100% / 4);


    background: sandybrown;
}

.piece > span {
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

.piece.movable {
    cursor: pointer;
}